html
{
   height: calc( 100% - 20px);
   margin-top: 20px;
   font-size_OFF: 30px;
   background-color_OFF: #000000;
}

body
{
   font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
   /* Don't allow any scrolling */
   overflow_OFF: hidden;
   width: 100%;
   height: 100%;
   background-color_OFF: #1D384D;
   color: #FFFFFF;
}

.contentouter
{
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.contentouter {
    text-align: left;
    line-height: 1.25;
}

.contentouter p,
.contentouter dl_OFF,
.contentouter ul_OFF,
.contentouter ol_OFF {
    margin: 0 0.75em 1em 0.75em;
    margin: 0 0.75rem 1em 0.75rem;
}

.contentouter dt:not(:first-of-type) {
    margin-top: 1em;
    margin-top: 1rem;
}

.contentouter ul,
.contentouter ol {
    list-style-position_OFF: inside;
}

h2
{
   color: #2a3342;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;
   font-family: Helvetica, Arial, sans-serif;
}

         a, a:hover, a:active, a:visited
         {
            text-decoration: none;
         }

         table.verses td
         {
            padding: 5px;
            text-align: left;
         }

         table.verses .verseNumber
         {
            text-align: right;
         }

    .pushes .biblereading_OFF {
        background-image: url(../img/BibleReading_238x160.jpg);
    }

    .sowing .pushes .biblereading_OFF {
        background-image: url(https://faithlifechurchbranson.onlinesowing.org/image/openbible-238x160.jpg);
    }

    .biblereading_OFF #content {
        background-image: url(../img/BibleReading_640x360.jpg);
    }

    .biblereading_OFF #content {
        background-image: url(../img/BibleReading_1440x360.jpg);
    }

@media screen (min-width: 776px)
{
    .biblereading #todayschapter dt {
        color: #143870;
        font-size: 0.85em;
        font-weight: bold;
    }

    .biblereading #todayschapter dt:not(:first-of-type) {
        margin-top: 5px
    }

    .biblereading #todayschapter dd {
        font-size: 1.15em;
    }

    .biblereading #schedule {
        text-align: center;
    }

    .biblereading #schedule dl {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin: 0 3px 10px 0;
        width: 19.1%;
        min-height: 100px;
        border: 2px solid #000000;
    }

    .biblereading #schedule dl.today {
        background: #4C6FA8;
    }

    .biblereading #schedule dl dt {
        margin: 10px 5px 0 5px;
        background_OFF: #FFFFFF;
        color: #002160;
    }

    .biblereading #schedule dl dd {
        margin: 25px 5px 0 5px;
        font-size: 1.25em;
    }

    .biblereading #schedule dl dd a.today {
        color: #FFFFFF;
        text-decoration: none;
    }

    .biblereading #schedule dl dd a.today:hover {
        color: #002160;
        text-decoration_OFF: underline;
    }
}