@charset "utf-8";

/*
=============CSS RESET===================
*/

/* html5doctor css reset (http://html5doctor.com/html-5-reset-stylesheet/)
   it goes above and beyond Eric Meyer's venerable reset.css (http://meyerweb.com/eric/tools/css/reset/) */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video
{
   margin:0;
   padding:0;
   border:0;
   outline:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

body
{
   line-height:1;
}

/* specify foreground colors when specifying background colors */

body:not(.home)
{
   padding-top_OFF:5em;
   padding-right_OFF:6%;
   padding-bottom_OFF:1em;
   padding-left_OFF:6%;
   background-color:#f3f3f3;
   background-image:url(../img/papertexture-500x500.png);
   background-size:250px 250px;
   color:#000000;
   line-height:1.5;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
   display:block;
}

nav ul
{
   list-style:none;
}

blockquote, q
{
   quotes:none;
}

blockquote:before, blockquote:after, q:before, q:after
{
   content:'';
   content:none;
}

a
{
   margin:0;
   padding:0;
   font-size:100%;
   vertical-align:baseline;
   background:transparent;
}

ins
{
   background-color:#ff9;
   color:#000;
   text-decoration:none;
}

mark
{
   background-color:#ff9;
   color:#000;
   font-style:italic;
   font-weight:bold;
}

del
{
   text-decoration:line-through;
}

abbr[title], dfn[title]
{
   border-bottom:1px dotted;
   cursor:help;
}

table
{
   border-collapse:collapse;
   border-spacing:0;
}

hr
{
   display:block;
   height:1px;
   border:0;
   border-top:1px solid #cccccc;
   margin:1em 0;
   padding:0;
}

input, select
{
   vertical-align:middle;
}

/*
=============CORE STYLES===================
*/

.dbrcard
{
   width:100%;
   margin-top: 20px;
}


/* keep text from getting bigger when switching from portrait to landscape */

body
{
   -webkit-text-size-adjust:none;
   -moz-text-size-adjust:none;
   -ms-text-size-adjust:none;
   -webkit-text-size-adjust:100%;
   -moz-text-size-adjust:100%;
   -ms-text-size-adjust:100%;
}

/* we want the lightbox to be in the same place and the same size regardless of the user's action */

.lightbox
{
   position:fixed;
   top:0;
   right:0;
   bottom:0;
   left:0;
   z-index:4;
   padding:5em 1em 1em 1em;
   white-space:normal;
   background:rgba(0, 0, 0, 0.9);
   color:#ffffff;
   font-size:1rem;
   line-height:1rem;
   text-align:center;
}

/* play with padding and border radius to create a circle */

.lightbox .close
{
   display:block;
   position:absolute;
   top:2em;
   right:2em;
   z-index:9;
   padding:0 0.35em 0.15em 0.35em;
   color:#ffffff;
   font-style:normal;
   font-weight:normal;
   text-decoration:none;
   border:1px solid #ffffff;
   border-radius:1em;
}

@media screen and (max-height:640px) and (orientation:landscape)
{
   .lightbox
   {
      padding-top:1.4rem;
   }

   .lightbox .close
   {
      top:0.5em;
      right:0.5em;
   }
}

/* <video> was very small without height specified */

.lightboxcontent
{
   height:100%;
}

/* change the cursor so the user knows there is more information */

abbr[title], dfn[title]
{
   border:none;
   cursor:help;
}

/* but not if it's a link */

a abbr[title], .link abbr[title], a dfn[title], .link dfn[title]
{
   cursor:inherit;
}

/* changes the cursor for javascript links */

a, .link
{
   cursor: pointer;
   color: #005e77;
   text-decoration: none;
}

/* content included for content clarity but removed for visual appeal */

.extrainfo
{
   display:none;
}

/* how often do you really want indentions, numbers, and bullets */

dl, ol, ul
{
   list-style:none;
}

/* give the titles a little oomph */

dt
{
   font-weight:bold;
}

/* give the titles a little breathing room */

dt:not(:first-of-type)
{
   margin-top:1em;
}

/* max makes sure it doesn't get bigger than the window */

audio, video
{
   width:100%;
   height:100%;
   max-width:100%;
   max-height:100%;
}

/* page specific */

.events #content
{
   font-style:italic;
   text-align:center;
}

.events [itemtype="http://schema.org/Event"]:not(:first-of-type)
{
   margin-top:2em
}

.events dt
{
   display:none;
}

.events .title
{
   text-transform:uppercase;
   font-weight:bold;
}

.events .venue
{
   font-weight: bold;
   color: #005e77;
   margin-bottom: 0;
}

.events .venue .delimiter, .events .address, .events .phone
{
   color:#7b7b7b;
   font-weight:normal;
}

.events .street
{
   display:block;
}

.events .schedule
{
   font-style:normal;
}

.featuredseries dt
{
   display:none;
}

.featuredseries blockquote
{
   margin-top:1em;
   margin-bottom:1em;
}

.featuredseries h3
{
   margin-top:1em;
}

/* font-size and height should match .heading.page */
.back
{
   position:fixed;
   top:0;
   left:0;
   width:2em;
   height:2em;
   font-size:2em;
   background-image:url(../img/arrow-circle-green-left.png);
   background-repeat:no-repeat;
   background-size:50%;
   background-position:center center;
   text-indent:-9999px;
}

.heading.page
{
   font-family:'Raleway', sans-serif;
   font-size:2em;
   font-weight:200;
   text-transform:uppercase
}

.heading.page
{
   position:fixed;
   top: 20px;
   right:-1em;
   left:-1em;
   height:2em;
   line-height:2em;
   text-align:center;
   background-color:#1a3749;
   background-image:linear-gradient(to right, #1a3749 0%, #3d6170 100%);
   color:#ffffff;
   box-shadow:0 0.1em 0.125em rgba(0, 0, 0, 0.4);
}

.heading.page:before
{
   content_OFF:"//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////";
   position:absolute;
   top:1.95rem;
   left:0;
   width:100%;
   height:4px;
   font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size:4px;
   color:#000000;
}

/* keep this font size relative to the parent's font size (don't use rem here) */

.heading.page .stylehook
{
   margin-left:-0.5em;
   font-size:0.5em;
   font-style:italic;
   font-weight:500;
}

.featuredmessages .message
{
   margin:1em;
   padding-top:1em;
   padding-right:2em;
   padding-bottom:2em;
   padding-left:2em;
   background-color:#cfe3e2;
   border-radius:0.5em;
   text-align:center;
}

.featuredmessages dt
{
   display:none;
}

.featuredmessages .date, .featuredmessages .title
{
   margin-bottom:1em;
}

.featuredmessages .title
{
   font-weight:bold;
}

.featuredmessages .title.sermon
{
   display:block;
}

/*
.featuredmessages .title.sermon:before {
   content:"(";
}

.featuredmessages .title.sermon:after {
   content:")";
}
*/

.featuredmessages .date, .featuredmessages .speaker
{
   font-size:0.85em;
   font-style:italic;
   font-weight:lighter;
}

.featuredmessages .speaker
{
   margin-bottom:3em;
}

.featuredmessages .message .link
{
   margin-top:2em;
   padding-top:1em;
   padding-bottom:1em;
   border-radius:0.5em;
   color:#ffffff;
   text-transform:uppercase;
}

.featuredmessages .message .link.audio
{
   background-color:#4cda64;
}

.featuredmessages .message .link.video
{
   background-color:#4e5766;
}